<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculating..</title>
    <link rel="stylesheet" href="../styles/calculate.css">
</head>
<body>
    <div class="pic">
        <img src="../images/sine-wave.svg" alt="sine-wave" class="sine-wave">
    </div>
    <div>
        <h1 class="analysing">Analysing...</h1>
    </div>
</body>
</html>