<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/userInfoPopup.css">
    <title>Home</title>
</head>
<body>
     <%- include('./partials/menu'); %>
    <div class="logo">
        <img src="../images/LOGO.png" alt="logo" style="margin: 3rem 0 2rem 0;">
    </div>
    <div class="quotation">
        <p>Hearing test is now in your hands..</p>
    </div>
    <a href="./input">
        <button class="home-button">Get Started<span ><img src="../images/Arrow.svg" alt="logo" class="Arrow"></span></button>
    </a>

</body>
</html>