<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="../styles/instruction.css">
</head>
<body>
    <div class="instruction">
        <p>Please be in a quite place while taking the test.</p>
    </div>
</body>
</html>