<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="../css/userInfoPopup.css">
    <title>Reports</title>
</head>
<body>
    <%- include('./partials/menu'); %>

    <div class="report-header">
        <h1>Reports</h1>
    </div>

    <div class="report-cards">
        <div class="report-card-container">
            <div class="report-card-content">
                <h2 style="line-height: 10px; font-weight: bold;">John Doe</h2>
                <h3 style="margin-top: 0; line-height: 5px; color: #777777;">Age 24</h3>
                <hr style="line-height: 10px; border: none ; color: #2339A1;" />
                <p style="line-height: 10px; font-weight: bold;">Report Card Generated:</p>
                <p style="line-height: 0px; font-weight: bold;">Has normal hearing capability.</p>
            </div>
            <a href="../images/Lorem_ipsum.pdf" download="newfilename"><button class="report-button">Get Report</button></a>
        </div>

        <div class="report-card-container">
            <div class="report-card-content">
                <h2 style="line-height: 10px; font-weight: bold;">John Doe</h2>
                <h3 style="margin-top: 0; line-height: 5px; color: #777777;">Age 24</h3>
                <hr style="line-height: 10px; border: none ; color: #2339A1;" />
                <p style="line-height: 10px; font-weight: bold;">Report Card Generated:</p>
                <p style="line-height: 0px; font-weight: bold;">Has normal hearing capability.</p>
            </div>
            <a href="../images/Lorem_ipsum.pdf" download="newfilename"><button class="report-button">Get Report</button></a>
        </div>

        <div class="report-card-container">
            <div class="report-card-content">
                <h2 style="line-height: 10px; font-weight: bold;">John Doe</h2>
                <h3 style="margin-top: 0; line-height: 5px; color: #777777;">Age 24</h3>
                <hr style="line-height: 10px; border: none ; color: #2339A1;" />
                <p style="line-height: 10px; font-weight: bold;">Report Card Generated:</p>
                <p style="line-height: 0px; font-weight: bold;">Has normal hearing capability.</p>
            </div>
            <a href="../images/Lorem_ipsum.pdf" download="newfilename"><button class="report-button">Get Report</button></a>        </div>

        <div class="report-card-container">
            <div class="report-card-content">
                <h2 style="line-height: 10px; font-weight: bold;">John Doe</h2>
                <h3 style="margin-top: 0; line-height: 5px; color: #777777;">Age 24</h3>
                <hr style="line-height: 10px; border: none ; color: #2339A1;" />
                <p style="line-height: 10px; font-weight: bold;">Report Card Generated:</p>
                <p style="line-height: 0px; font-weight: bold;">Has normal hearing capability.</p>
            </div>
            <a href="../images/Lorem_ipsum.pdf" download="newfilename"><button class="report-button">Get Report</button></a>        </div>

        <div class="report-card-container">
            <div class="report-card-content">
                <h2 style="line-height: 10px; font-weight: bold;">John Doe</h2>
                <h3 style="margin-top: 0; line-height: 5px; color: #777777;">Age 24</h3>
                <hr style="line-height: 10px; border: none ; color: #2339A1;" />
                <p style="line-height: 10px; font-weight: bold;">Report Card Generated:</p>
                <p style="line-height: 0px; font-weight: bold;">Has normal hearing capability.</p>
            </div>
    
            <a href="../images/Lorem_ipsum.pdf" download="newfilename"><button class="report-button">Get Report</button></a>        </div>

        <div class="report-card-container">
            <div class="report-card-content">
                <h2 style="line-height: 10px; font-weight: bold;">John Doe</h2>
                <h3 style="margin-top: 0; line-height: 5px; color: #777777;">Age 24</h3>
                <hr style="line-height: 10px; border: none ; color: #2339A1;" />
                <p style="line-height: 10px; font-weight: bold;">Report Card Generated:</p>
                <p style="line-height: 0px; font-weight: bold;">Has normal hearing capability.</p>
            </div>
    
            <a href="../images/Lorem_ipsum.pdf" download="newfilename"><button class="report-button">Get Report</button></a>        </div>

    </div>

</body>
</html>