<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="../css/testResult.css">
    <link rel="stylesheet" href="../css/userInfoPopup.css">
</head>
<body>
    <%- include('./partials/menu'); %>

     <div class="base-result">
        <h1>
            Moderate
        </h1>
     </div>
     <div class="report-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
     </div>
     <button class="home-button">Get Report</button>
     <p style="text-align: center; font-weight: bold; font-size: 20px;">You can see your reports later in the reports section.</p>
</body>
</html>