body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 250px;
}

@media (min-width:760px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding-top: 150px;
    }
}

.menu {
    height: 82px;
    width: 100vw;
    background-color: #283198;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.option-holder {
    position: relative;
    top: 11px;
    max-width: 500px;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.option {
    width: 60px;
    height: 60px;
    background-color: #242B81;
    border-radius: 50%;
    cursor: pointer;
}

.option-svg {
    transform: translate(40%, 40%);
}

.flex-box {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.name {
    background-color: #FFFEF2;
    border-radius: 10px;
    font-size: 25px;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

.age {
    background-color: #FFFEF2;
    border-radius: 10px;
    font-size: 25px;
    padding: 1rem 1.5rem;
}

.begin-button {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #2997FF;
    color: #ffffff;
    padding: 0.5rem 2.5rem;
    margin: 4rem 0 0.1rem 0;
}

.quick {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-color: #ff2929;
    color: #ffffff;
    padding: 0.5rem 2.5rem;
    margin: 4rem 0 0.1rem 0;
}

#qck {
    color: #ffffff;
    text-decoration: none;
}