body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 100px;
    font-weight: bold;
}

.instruction {
    margin-left: 50%;
    margin-top: 10rem;
    transform: translate(-50%);
    max-width: 500px;
    background-color: #D6D9FF;  
    border-radius: 10px;
    font-size: 40px;
    padding: 1rem 0rem;
    box-shadow: #0000002f 3px 3px 30px 3px;
}

@media (max-width:720px) {
    .instruction {
        transform: none;
        max-width: 1000px;
        margin: 1.5rem;
        margin-top: 10rem;
    }
}
.instruction p {
    text-align: center;
    padding: 1rem 1rem;
}
