body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.toggle {
    background-color: #E9E9E9;
    border-radius: 50px;
    max-width: 500px;
    margin-bottom: 4rem;
}   

.left {
    color: #ffffff;
    left: 0;
    border-radius: 50px;
    display: inline-block;
    background-color: #979797;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.right {
    color: #ffffff;
    right: 0;
    width: 150px;
    border-radius: 50px;
    display: inline-block;
    background-color: #979797;
    text-align: center;
}

.wave {
    border-radius: 100px;
    background-color: #D0E8FF;
}

.cross-check {
    background-color: #EEEEEE;
    border-radius: 10px;
    font-weight: bold;
    padding: 0rem 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 20px;
}

.options {
    max-width: 500px;
}
.opt {
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    margin-right: 1rem;
}

.tick {
    margin-left: 1rem;
    display: inline-block;
    background-color: #00FF00;
}

.cross {
    background-color: #FF0000;
}

.home-button {
    position: relative;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #2997FF;
    color: #ffffff;
    padding: 1rem 4rem 1rem 4rem;
    margin: 2rem 0 0.1rem 0;
}

@media(max-width:720px) {
    .tick {
        margin-left: 1rem;
        display: inline-block;
        background-color: #00FF00;
        padding: 1rem;
    }
    
    .cross {
        padding: 1rem;
        background-color: #FF0000;
    }

    .home-button {
        position: relative;
        border-radius: 100px;
        cursor: pointer;
        border: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #2997FF;
        color: #ffffff;
        padding: 1rem 6rem 1rem 6rem;
        margin: 2rem 0 0.1rem 0;
    }    

    .wave {
        border-radius: 100px;
        background-color: #D0E8FF;
        padding: 1rem;
    }

    .cross-check {
        padding: -1rem 1rem;
        font-size: 25px;
    }
}

#popup_box {
    display: none;
    position: absolute;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }